<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>JavaScript Notes</title>
  <link rel="icon" href="../../favicon.ico" />
  <link rel="stylesheet" href="../../styles.css" />
  <link rel="stylesheet" href="./javascript.css" />
</head>

<body>
  <nav class="navbar">
    <a class="navbar-links" href="../home/index.html">
      <h2>Home</h2>
    </a>
    <a class="navbar-links" href="../javascript/javascript.html">
      <h3>JavaScript</h3>
    </a>
    <a class="navbar-links" href="../front-end-js/front-end-js.html">
      <h3>Front End JavaScript</h3>
    </a>
    <a class="navbar-links" href="../code-editor/code-editor.html">
      <h3>Code Editor</h3>
    </a>
  </nav>

  <div class="notes-section">
    <div class="subtitle">
      <h1 id="subtitle-heading">JavaScript</h1>
      <div class="subsubtitle">
        <h2>Variables</h2>
        <div class="text">
          <p>
            Three ways to declare variables in JS:
          <ol>
            <li><code>var name = `john`;</code></li>
            <li><code>let name = `john`;</code></li>
            <li><code>const name = `john`;</code></li>
          </ol>
          <ul>
            <li><code>var</code> is not used anymore</li>
            <li><code>let</code> variables can be reassigned</li>
            <li><code>const</code> variables can never be reassigned</li>
          </ul>
          </p>
        </div>
        <div class="text">
          <p>
            Scoping:
            <ul>
              <li><code>var</code> is function scoped</li>
              <li><code>let</code> and <code>const</code> are block scoped</li>
            </ul>
          </p>
        </div>
      </div>
      <div class="subsubtitle">
        <h2>Lorem ipsum dolor sit amet.</h2>
        <div class="text">
        </div>
      </div>
      <div class="subsubtitle">
        <h2>Lorem ipsum dolor sit amet.</h2>
        <div class="text">
          <p>

          </p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>