<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Front End JS</title>
  <link rel="icon" href="../../favicon.ico" />
  <link rel="stylesheet" href="../../styles.css" />
</head>

<body>
  <nav class="navbar">
    <a class="navbar-links" href="../home/index.html">
      <h2>Home</h2>
    </a>
    <a class="navbar-links" href="../javascript/javascript.html">
      <h3>JavaScript</h3>
    </a>
    <a class="navbar-links" href="../front-end-js/front-end-js.html">
      <h3>Front End JavaScript</h3>
    </a>
    <a class="navbar-links" href="./code-editor.html">
        <h3>Code Editor</h3>
    </a>
  </nav>

  <div class="notes-section">
      <h1 id="subtitle-heading">Code Editor</h1>
      <iframe frameBorder="0" height="1000vh" width="1500vw" style="border: 3px solid black; margin-bottom: 15px;" src="https://onecompiler.com/embed/javascript" width="100%"></iframe>
  </div>


  <script src="./index.js"></script>
</body>

</html>